<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Qtime</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="nouislider.min.css">

    </head>
  <body>
      
    <!-- component template -->
    <script type="text/x-template" id="grid-template">
      <table id="entryGrid">

        <thead>
          <tr>
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="{active: sortKey == key}">
              {{key | capitalize}}
              <span class="arrow"
                :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="
            entry in data
            | filterBy filterKey in 'name'
            | filterBy filterByDuration
            | filterBy filterByCategory
            | orderBy sortKey sortOrders[sortKey]">
            <td contenteditable="true"  v-on:focus="startEdit"  v-on:blur="cellContentChanged($event, entry)" v-for="key in columns" data-name="{{key}}">
              {{entry[key]}}
            </td>
          </tr>
        </tbody>
      </table>

    </script>















    
    <center><div id="qtimeTitle">Qtime</div></center>

    <div id="qtime">
      
      <div id="leftWrapper">
        <input id="search" name="query" placeholder="Search..." v-model="searchQuery">
        <div id="durationSliderWrapper">
          <div id="durationSlider"></div>
        </div>
        <select id="select-category" v-model="selectedCategory" multiple v-bind:size="options.length">
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div id="rightWrapper">
        <div id="addEntryWrapper">
          <table id="addEntry">
            <tbody>
              <tr>
                <td><input v-model="newEntryName" type="text" placeholder="New Entry" /></td>
                <td><input v-model="newEntryDuration" type="text"/></td>
                <td><input v-model="newEntryCategory" type="text"/></td>
                <td><input v-model="newEntryLink" type="text"/></td>
                <td><input v-model="newEntryNote" type="text"/></td>

              </tr>
            </tbody>
          </table>                
          <button v-on:click="addEntry" type="button" id="addEntryBtn">+</button>

        </div>
        <qtime-grid
          :data="gridData"
          :columns="gridColumns"
          :filter-key="searchQuery">

        </qtime-grid>
      </div>
      <br/><br/><br/><br/><br/>

    </div>


    <script src="jquery-3.1.0.min.js"></script>
    <script src="vue.js"></script>
    <script src="nouislider.min.js"></script>
    <script src="grid.js"></script>

  </body>
</html>