<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="MUJ1d6HBHYNII_Gzc9shEx4S3o9SdsyGZN6iHX_nJ0M" />
    <meta charset="utf-8">
    <title>Qtime</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="chrome-webstore-item"
    href="https://chrome.google.com/webstore/detail/bldcellajihanglphncgjmceklbibjkk">
    <link rel="stylesheet" href="build/bundle.css">
  </head>
  <body>

    <div class="ajax-mask"></div>

    <div id="qtime-wrapper">
      <div id="header-wrapper">
        <div class="header">
          <span id="qtimeTitle" onclick="location.reload()">Qtime</span>

            <button v-cloak onclick="chrome.webstore.install()" id="install-button">{{chromeExtension}}</button>
          <div class="float-right">

            <span v-cloak v-if="!login">
              <button v-cloak @click="loginPopup = 'Sign up'">{{headerRegister}}</button> | 
              <button v-cloak @click="loginPopup = 'Log in'">{{headerIntroLogin}}</button>
            </span>
            <span v-cloak v-if="login">
              <span v-cloak id="welcome-msg">Hi, {{username}}! </span>

              <span class="modal-option" v-for="option in tableOptions">
                <input type="radio"
                  :value="option"
                  :id="option"
                  name="option"
                  v-model="selectedTable">
                <label :for="option" :title="trendingOrMyStuffTitle(option)">{{ trendingOrMyStuffName(option) }}</label>
              </span>

              <button v-cloak class="logout" @click="logout">{{headerLogout}}</button>
            </span>
          </div>
        </div>
      </div>
      <div id="blank-space"></div>
      <div id="qtime">

        <login
          :passin="loginPopup"
          v-if="loginPopup" @close="loginPopup = null">
        </login>

        <!-- use the modal component, pass in the prop -->
        <modal
          :header="editCellName"
          :cell-obj="editCellValObj"
          v-if="showModal" @close="showModal = false">
        </modal>


        <div id="ajaxMsg"></div>
        <div v-cloak v-if="showTip && !login" id="qtime-tip">
          <img class='header-img' src="qtime-header.png"/>
          <div v-cloak class='header-introduction'>
            {{headerIntroduction}}<br/><br/>
            {{headerIntroChromeExtension}} - 
            <a href='#' @click='chrome.webstore.install()'>{{chromeExtension}}</a>
            <br/><br/>{{headerIntroRegistration}} - 
            <a href="#" style="" @click="loginPopup = 'Log in'">{{headerIntroLogin}}</a>

          </div>


        </div>
        <div id="leftWrapper">

        <!-- ================== search ================= -->
          <input id="search" name="query" v-bind:placeholder="searchTitle" v-model="searchQuery">
        


        <!-- =============== set time range ============ -->

          <div v-cloak id="durationSlider-description">{{setTimeRangeTitle}}</div>
          <div id="durationSliderWrapper">
            <div id="durationSlider"></div>
          </div>

        <!-- ===== checkbox for only showing starred entries ==== -->
        <center id='showStarredCheckbox' v-if="canEdit">
          <input  type="checkbox" id="toggleStarCheckbox" v-model="onlyShowStarredChecked">
          <label for="toggleStarCheckbox">{{ onlyShowStarredTitle }}</label>
        </center>

        <!-- =============== select category ============ -->
          <center>
            <div v-cloak id="select-category-description">{{selectCategoryTitle}}</div>
            <div v-cloak class="selected-category-wrapper">
              <select id="select-category" v-cloak v-model="selectedCategory" multiple v-bind:size="options.length">
                <option v-for="option in options" v-bind:value="option.value">
                  {{ option.text }}
                </option>
              </select>
            </div>
          </center>



        <!-- ========= show/hide deleted entries ======== -->
          <button v-cloak class="show-deleted" v-if="canEdit && showDeleted" @click="showDeleted=false">{{hideDeletedTitle}}</button>          
          <button v-cloak class="show-deleted" v-if="canEdit && !showDeleted" @click="showDeleted=true">{{showDeletedTitle}}</button>



        </div>
        <div id="rightWrapper">

        <!-- =============== add entry bar ============ -->
          <div v-cloak v-if="canEdit && !showDeleted" id="addEntryWrapper">
            <add-entry-bar></add-entry-bar>
          </div>

        <!-- =============== grid table title ============ -->
          <center class="deleted-tips" v-cloak  v-if="showDeleted">{{deletedTableHeaderTitle}} </center> 
          

        <!-- =============== grid table content ============ -->
          <qtime-grid
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery"
            :selected-category="selectedCategory"
            :duration-min="durationMin"
            :duration-max="durationMax"
            :show-deleted="showDeleted"
            :only-show-starred="onlyShowStarred"
            :force-refresh = "forceGridRefresh">
          </qtime-grid>
        </div>
      </div>

    </div>
    
    <!-- ======================= footer ====================== -->
    <footer>
      <div v-cloak class="footer-inner">
        Qtime © 2016  
        <a href="https://github.com/Arch1tect/Qtime/issues">{{feedback}}</a>
        <a href="https://github.com/Arch1tect/Qtime/blob/master/README.md">{{about}}</a> 
      </div>
    </footer>

    <script src="build/bundle.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-88032977-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>