#entryGrid {

  font-size: 16px;
  border: 1px solid;
  border-collapse: collapse;
  border-radius: 3px;
  table-layout: fixed;
  width: 200px;
  background-color: white;
  text-align: center;
  margin-bottom: 300px;
  box-shadow: 20px 20px 5px #9a9d9e;
}
#entryGrid th {
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 300;
  overflow: hidden;
  width: 85px;

}
#entryGrid tr {
  height: 50px;
}

#entryGrid tr:hover {
  background: yellow;
}

#addEntry tr {
  height: 50px;
}

#entryGrid th:first-child {
  width: 180px;
}
#entryGrid th:last-child {
  width: 290px;
}
#entryGrid th:nth-child(4) {
  width: 55px;
}
#entryGrid td:first-child {
  /*font-size: 20px;*/
  white-space: normal;
  line-height: 150%;

}
#entryGrid td:last-child {
  /* font-size: smaller; */
}
#addEntry th:nth-child(3) {
  width: 55px;
}
#addEntry td:first-child {
  width: 180px;
}
#addEntry td:last-child {
  width: 250px;
}
#entryGrid td {
  cursor: pointer;
  padding: 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

#entryGrid th.active {
  /*font-size: larger;*/
  color: yellow;
}
.rightFloat {
  float:right;
  margin-left: 50px;
}
#addEntry {
  background: white;
  border: none;
  table-layout: fixed;
  width: 200px;
  float: left;
  margin-bottom: 30px;
  border-collapse: collapse;
}
#addEntry td {

  width: 85px;
  border: 2px dashed #afafaf;
}
#addEntry input {
  height: 100%;
  width: 100%;
  border: none;
  /*background: white;*/
  font-size: larger;
  text-align: center;
}
#addEntryBtn {
  position: absolute;
  height: 50px;
  width: 50px;
  margin: 1px; 
  cursor: pointer;
  font-size: 30px;
  border: none;
  border-radius: 1px;
}
button.delete-entry {
  float: left;
  margin-right: 5px;
  margin-left: -5px;
  visibility: hidden;
  color: black;
  border-radius: 100%;
  border: 1px solid black;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
}
.highlight button.delete-entry {
  visibility: visible;
}
button.delete-entry:hover {
  color: black;
  background-color: red;
}
table tr th:nth-child(2) {
  /*width: 100%;*/
}

.contentTooltip{
    position: absolute;
    padding: 29px;
    margin-top: 15px;
    margin-left: -50px;
    background: #ffd;
    z-index: 9999;
    word-wrap: break-word;
    border-radius: 5px;
    line-height: 140%;
    white-space: normal;
    text-align: left;
    width: 220px;
    padding: 15px;
    display: none;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}

#addEntryCandidate {
    position: absolute;
    min-width: 200px;
    margin-top: 52px;
    display: none;
    background: white;
    border: 1px solid #ccc;
    box-shadow: rgba(0,0,0,0.8) 0 7px 20px 0;
    z-index: 99999;
    border-radius: 0 0 7px 7px;
}
#addEntryCandidate p {
  padding: 10px;
  margin:0px;
}
#addEntryCandidate p:hover {
  background-color: yellow;
  cursor: pointer;
}
.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}


tr:nth-child(even) {
  background: #f1f1f1;
}

