#entryGrid {

  font-size: 16px;
  outline: 1px solid;
  border-collapse: collapse;
  table-layout: fixed;
  width: 200px;
  background-color: white;
  text-align: center;
  margin-bottom: 300px;
  /*box-shadow: 20px 20px 5px #9a9d9e;*/
}
#entryGrid th {
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 300;
  overflow: hidden;
  width: 100px;
  border: none;


}
#entryGrid tbody tr {
  border-top: 1px solid #dedede;
}

#entryGrid tr {
  height: 50px;
}

#entryGrid tbody tr:hover {
  box-shadow: 0px 5px 15px;
}



#entryGrid th:first-child {
  width: 200px;
}
#entryGrid th:last-child {
  width: 270px;
}
#entryGrid th:nth-child(2) {
  width: 50px;
}
#entryGrid th:nth-child(4) {
  width: 50px;
}
#entryGrid td:first-child {
  /*font-size: 20px;*/
  white-space: normal;
  line-height: 150%;

}
#entryGrid td:last-child {
  /* font-size: smaller; */
}


#entryGrid th.active {
  /*font-size: larger;*/
  color: yellow;
}
.rightFloat {
  float:right;
  margin-left: 50px;
}

/* webkit solution */
/*::-webkit-input-placeholder { text-align:center; }*/
/* mozilla solution */
/*input:-moz-placeholder { text-align:center; }*/
input:focus {
    background: #faffbd;
}

#addEntry {
  background: white;
  border: none;
  table-layout: fixed;
  width: 200px;
  float: left;
  margin-bottom: 30px;
  border-collapse: collapse;
}

#addEntry tr {
  height: 35px;
}
#addEntry td {
  width: 100px;
  height: 35px;
  border: none;
}
#addEntry td:nth-child(4) {
  width: 50px;
}
#addEntry td:nth-child(2) {
  width: 50px;
}
#addEntry td:first-child {
  width: 200px;
}
#addEntry td:last-child {
  width: 225px;
}
#entryGrid td {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

#addEntry input {
  height: 35px;
  width: 100%;
  border: 1px dashed gray;
  text-align: center;
  font-size: larger;
}
#addEntryBtn {
  position: absolute;
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid gray;
  margin-left: 5px;
  border-radius: 0px;
}
button.delete-entry, button.add-entry-from-public {

  font-size: large;
  border-radius: 0px;
  visibility: hidden;
  font-weight: bold;
  height: 100%;
  width: 30px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
}
.highlight button.delete-entry, 
.highlight button.add-entry-from-public {
  visibility: visible;
}
button.delete-entry:hover,
button.add-entry-from-public:hover {

}

table tr th:nth-child(2) {
  /*width: 100%;*/
}

.contentTooltip{
    position: absolute;
    padding: 29px;
    margin-top: 15px;
    background: #ffd;
    z-index: 9999;
    word-wrap: break-word;
    border-radius: 5px;
    line-height: 140%;
    white-space: normal;
    text-align: left;
    width: 100%;
    max-width: 245px;
    padding: 10px;
    display: none;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}

#addEntryCandidate {
    position: absolute;
    min-width: 200px;
    margin-top: 52px;
    display: none;
    background: white;
    border: 1px solid #ccc;
    box-shadow: rgba(0,0,0,0.8) 0 7px 20px 0;
    z-index: 99999;
    border-radius: 0 0 7px 7px;
}
#addEntryCandidate p {
  padding: 10px;
  margin:0px;
}
#addEntryCandidate p:hover {
  background-color: yellow;
  cursor: pointer;
}
.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}


/*tr:nth-child(even) {
  background: #f1f1f1;
}*/

