<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Qtime</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="build/bundle.css">
    <link rel="chrome-webstore-item"
    href="https://chrome.google.com/webstore/detail/bldcellajihanglphncgjmceklbibjkk">
<!--     <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="nouislider.min.css"> -->


  </head>
  <body>


    <!-- template for the login/signup component -->
    <script type="text/x-template" id="login-template">
      <transition name="modal">
        <div class="login modal-mask" @click="$emit('close')">
          <div class="modal-wrapper">
            <div class="modal-container" @click.stop>

              <div class="modal-header">
                <slot name="header">

                  <span class="modal-option" v-for="option in options">
                    <input type="radio"
                      :id="option"
                      :value="option"
                      name="option"
                      v-model="selected">
                    <label :for="option">{{ option }}</label>
                  </span>
                </slot>
              </div>

              <div class="modal-body">
                <input type="text" name="username" placeholder="Username" v-model="username">
                <input v-if="selected=='Sign up'" name="email" type="text" placeholder="Email" v-model="email">
                <input type="password" name="password" placeholder="Password" v-model="password">
                <input v-if="selected=='Sign up'" type="password" placeholder="Confirm password" v-model="password2">
                <span class="login-tips" v-if="selected!='Sign up'">
                <label id="remember-me"><input type="checkbox" v-model="remember"/> Remember me</label> 
                <a id="forgot-password">Forgot password?</a>
                </span>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  <span class="login-response" v-bind:class="{error: loginOrSignupFailed}">{{serverresponse}}</span>

                  <button class="modal-button" @click="submit()">
                    OK
                  </button>                  
                  <button class="modal-button" @click="$emit('close')">
                    Cancel
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask" @click="$emit('close')">
          <div class="modal-wrapper">
            <div class="modal-container" @click.stop>

              <div class="modal-header">
                <slot name="header">
                  {{header}}
                </slot>
              </div>

              <div class="modal-body">
                <textarea rows="5" name="body" v-model="cellObj.val"></textarea>
                
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  <button class="modal-button" @click="$root.$emit('update-cell')">
                    Save
                  </button>                  
                  <button class="modal-button" @click="$emit('close')">
                    Cancel
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <!-- template for grid-->
    <script type="text/x-template" id="grid-template">
      <table id="entryGrid">

        <thead>
          <tr>
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="{active: sortKey == key}">
              {{ getColName(key) | capitalize }}
              <span class="arrow"
                :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="
            entry in filteredData">
            <td v-for="key in columns" @dblclick="$root.$emit('edit-cell', entry, key)">

              <a v-if="key=='link' && entry[key]" target="_blank" :href="entry[key]">&nearr;</a>
              <span v-else>
                {{entry[key]}} 
              </span>
              <div class="contentTooltip">{{entry[key]}}</div>

            </td>


            <button title="recover this entry" v-if="$root.showDeleted" @click="$root.$emit('recover entry', entry)" class="recover-entry manage-entry">+</button>

            <button title="delete this entry" v-if="$root.canEdit" @click="$root.$emit('remove entry', entry)" class="manage-entry">x</button>          
            <button title="add this entry to my list" v-if="$root.canAddToMyList" @click="$root.addEntry(entry, false)" class="manage-entry">+</button>


          </tr>
        </tbody>
      </table>

    </script>


























    <div id="qtime-wrapper">
      <div id="header-wrapper">
        <div class="header">
          <span id="qtimeTitle" onclick="location.reload()">Qtime</span>
            <button onclick="chrome.webstore.install()" id="install-button">Install Chrome Extension</button>
          <div class="float-right">

            <span v-if="!login">
              <button @click="loginPopup = 'Sign up'">Sign up</button> | 
              <button @click="loginPopup = 'Log in'">Log in</button>
            </span>
            <span v-cloak v-if="login">
              <span id="welcome-msg">Welcome, {{username}}! </span>

              <span class="modal-option" v-for="option in tableOptions">
                <input type="radio"
                  :value="option"
                  :id="option"
                  name="option"
                  v-model="selectedTable">
                <label :for="option" :title="trendingOrMyStuffTitle(option)">{{ option }}</label>
              </span>

              <button class="logout" @click="logout">Log out</button>
            </span>
          </div>
        </div>
      </div>
      <div id="blank-space"></div>
      <div id="qtime">

        <login
          :passin="loginPopup"
          v-if="loginPopup" @close="loginPopup = null">
        </login>

        <!-- use the modal component, pass in the prop -->
        <modal
          :header="editCellName"
          :cell-obj="editCellValObj"
          v-if="showModal" @close="showModal = false">
        </modal>


        <div id="ajaxMsg">{{ajaxMsg}}</div>
        <div v-cloak v-if="showTip && !login" id="qtime-tip">
          Welcome! Qtime helps you manage things you are interested in, you can easily sort, filter and search for items, it also provides a convenient <a href="#" onclick="chrome.webstore.install()">Chrome Extension</a> for saving web pages you come across. <br/><br/>Check out trending items below, or <a href="#" style="" @click="loginPopup = 'Log in'">log in</a> to manage your own stuff.
        </div>
        <div id="leftWrapper">
          <input id="search" name="query" placeholder="Filter by Keyword" v-model="searchQuery">
          
          <div id="durationSlider-description">Set Time Range (min)</div>
          <div id="durationSliderWrapper">
            <div id="durationSlider"></div>
          </div>

          <div id="select-category-description">Filter by Category</div>
          <div class="selected-category-wrapper">
            <select id="select-category" v-cloak v-model="selectedCategory" multiple v-bind:size="options.length">
              <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <button class="show-deleted" v-if="showDeleted" @click="showDeleted=false">Hide deleted</button>          
          <button class="show-deleted" v-if="!showDeleted" @click="showDeleted=true">Show deleted</button>



        </div>
        <div id="rightWrapper">
          <center class="deleted-tips" v-if="showDeleted">Showing deleted entries below, if you delete them again here, you can't recover them. </center> 
          <div v-if="canEdit && !showDeleted" id="addEntryWrapper">
            <table id="addEntry">
              <tbody>
                <tr>
                  <td><input v-model="newEntryName" v-on:blur="closeCandidateDropdown" v-on:keyup="newEntryNameChanged" type="text" placeholder="New Item Name" />
                  </td>
                  <td><input v-model="newEntryDuration" type="text" placeholder="Time" /></td>
                  <td><input v-model="newEntryCategory" type="text" placeholder="Category" /></td>
                  <td><input v-model="newEntryLink" type="text" placeholder="Link" /></td>
                  <td><input v-model="newEntryNote" type="text" placeholder="Note" /></td>

                </tr>
              </tbody>
            </table>                
            <button title="add new entry to your list" v-on:click="addEntryByInput" type="button" id="addEntryBtn">+</button>
          </div>

          <div id="addEntryCandidate">

            <p v-if= "newEntryCandidates.length" v-cloak v-for="candidate in newEntryCandidates" v-on:click="pickCandidate(candidate)">
              {{ candidate.Title }} <span class="rightFloat">{{ candidate.Type}}&nbsp;&nbsp;&nbsp;{{ candidate.Year }}</span>
            </p>
            <p v-if= "newEntryCandidates.length==0">Not found.</p>
          </div>
          <qtime-grid
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery"
            :selected-category="selectedCategory"
            :duration-min="durationMin"
            :duration-max="durationMax"
            :show-deleted="showDeleted">
          </qtime-grid>
        </div>
      </div>

    </div>
    <script>
    if (chrome.app.isInstalled) {
      document.getElementById('install-button').style.display = 'none';
    }
    </script>


<!--     <script src="jquery-3.1.0.min.js"></script>
    <script src="vue2.js"></script>
    <script src="nouislider.min.js"></script>
    <script src="grid.js"></script>
    <script src="modal.js"></script>
    <script src="qtime.js"></script>
    <script src="durationSlider.js"></script>
    <script src="app.js"></script> -->
    <script src="build/bundle.js"></script>


  </body>
</html>