<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Qtime</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="build/bundle.css">
    <link rel="chrome-webstore-item"
    href="https://chrome.google.com/webstore/detail/bldcellajihanglphncgjmceklbibjkk">
<!--     <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="modal.css">
    <link rel="stylesheet" href="nouislider.min.css"> -->


  </head>
  <body>

    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask" @click="$emit('close')">
          <div class="modal-wrapper">
            <div class="modal-container" @click.stop>

              <div class="modal-header">
                <slot name="header">
                  {{header}}
                </slot>
              </div>

              <div class="modal-body">
                <textarea rows="5" name="body" v-model="cellObj.val"></textarea>
                
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  <button class="modal-button" @click="$root.$emit('save')">
                    Save
                  </button>                  
                  <button class="modal-button" @click="$emit('close')">
                    Cancel
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <!-- template for grid-->
    <script type="text/x-template" id="grid-template">
      <table id="entryGrid">

        <thead>
          <tr>
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="{active: sortKey == key}">
              {{ key | capitalize }}
              <span class="arrow"
                :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="
            entry in filteredData
            | filterBy filterKey in 'name'
            | filterBy filterByDuration
            | filterBy filterByCategory
            | orderBy sortKey sortOrders[sortKey]">
            <td v-for="key in columns" @dblclick="$root.$emit('edit', entry, key)">
              <a v-if="key=='link' && entry[key]" target="_blank" :href="entry[key]">url</a>
              <span v-else>
                {{entry[key]}} 
              </span>
              <div class="contentTooltip">{{entry[key]}}</div>

            </td>
          </tr>
        </tbody>
      </table>

    </script>



    <button onclick="chrome.webstore.install()" id="install-button">Install Chrome Extension</button>

    <center><div id="qtimeTitle" onclick="location.reload()">Qtime</div>

    </center>

    <div id="qtime">

      <!-- use the modal component, pass in the prop -->
      <modal
        :header="editCellName"
        :cell-obj="editCellValObj"
        v-if="showModal" @close="showModal = false">
      </modal>
      <div id="ajaxMsg">{{ajaxMsg}}</div>

      <div id="leftWrapper">
        <input id="search" name="query" placeholder="Search..." v-model="searchQuery">
        <div id="durationSliderWrapper">
          <div id="durationSlider"></div>
        </div>
        <select id="select-category" v-cloak v-model="selectedCategory" multiple v-bind:size="options.length">
          <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div id="rightWrapper">
        <div id="addEntryWrapper">
          <table id="addEntry">
            <tbody>
              <tr>
                <td><input v-model="newEntryName" v-on:blur="closeCandidateDropdown" v-on:keyup="newEntryNameChanged" type="text" placeholder="New Entry" />
                </td>
                <td><input v-model="newEntryDuration" type="text"/></td>
                <td><input v-model="newEntryCategory" type="text"/></td>
                <td><input v-model="newEntryLink" type="text"/></td>
                <td><input v-model="newEntryNote" type="text"/></td>

              </tr>
            </tbody>
          </table>                
          <button v-on:click="addEntry" type="button" id="addEntryBtn">+</button>
        </div>
        <div id="addEntryCandidate">

          <p v-if= "newEntryCandidates.length" v-cloak v-for="candidate in newEntryCandidates" v-on:click="pickCandidate(candidate)">
            {{ candidate.Title }} <span class="rightFloat">{{ candidate.Type}}&nbsp;&nbsp;&nbsp;{{ candidate.Year }}</span>
          </p>
          <p v-if= "newEntryCandidates.length==0">Not found.</p>
        </div>
        <qtime-grid
          :data="gridData"
          :columns="gridColumns"
          :filter-key="searchQuery"
          :selected-category="selectedCategory"
          :duration-min="durationMin"
          :duration-max="durationMax">
        </qtime-grid>
      </div>


    </div>
    <script>
    if (chrome.app.isInstalled) {
      document.getElementById('install-button').style.display = 'none';
    }
    </script>


<!--     <script src="jquery-3.1.0.min.js"></script>
    <script src="vue2.js"></script>
    <script src="nouislider.min.js"></script>
    <script src="grid.js"></script>
    <script src="modal.js"></script>
    <script src="qtime.js"></script>
    <script src="durationSlider.js"></script>
    <script src="app.js"></script> -->
    <script src="build/bundle.js"></script>


  </body>
</html>