select option{
  /*padding-left: 20px;*/
  font-weight: 300;
  width: 190px;
  text-transform: capitalize;
}
select option:hover{
  background-color: black;
  color: white;
}
#select-category {
  background: none;
  cursor: pointer;
  border: none;
  font-size: large;
  margin-right: -11px;
}

.selected-category-wrapper {
  overflow: hidden;
  display: inline-block;
}